@font-face {
    font-family: stjedise;
    src: url(../fonts/STJEDISE.TTF);

}

body {
    background-image: url("../images/background3.JPG");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: black;
    background-size: cover;
    z-index:-1;
}



#enemyluke {
    float:left;
    margin: 10px;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    width: 100px;
}

#enemymaul {
    float:left;
    margin: 10px;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    width: 100px;
}

#enemysid {
    float:left;
    margin: 10px;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    width: 100px;
}

.card-body {
    margin:0px;
    padding:0px;
    text-align: center;

}

.card-title {
    padding:0px;
    margin: 0px;
}

.card {
    float:left;
    margin: 10px;
    border-style: solid;
    border-color: green;
    border-width: 3px;
    text-align: center;
}

.wordOnThePage {
    font-family: "Mukta";
    color: white;
    font-size: 25px;


}
.enemyWrapper {
    color: white;

}

img {
    width:100px;
    height: 70px;
}

.enemy {
    float:left;
    margin: 10px;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    width: 100px;
}

#gameOver {
    padding-top: 50px;
    font-family: "stjedise";
    color: white;
    font-size: 50px;

}

#title {
    font-family: "stjedise";
    color: white;
    font-size: 50px;
}

.btn {
        margin: 10px;
}